<div class="recipes-wrapper container">

  <h2 class="title is-1">Recipes</h2>

  <h4 class="subtitle is-4">Browse all users' recipes here. You can also use the search bar to find a specific recipe or
    use
    filters to find something that suits you best.</h4>

  <div class="recipe-boxes">
    <div class="recipes-content" *ngFor="let recipe of recipes">
      <div>
        <!-- todo fix -->
        <h2 *ngIf="recipes?.length === 0" class="subtitle">No recipes yet :(</h2>
      </div>

      <div class="recipe">

        <div class="card">
          <div class="type-tag">
            <a class="type-tag-link">{{ recipe.type }}</a>
          </div>
          <a [routerLink]="['/recipes', recipe._id]" class="recipe-link">
            <div class="card-image">
              <figure class="image is-4by3">
                <!-- <img src="http://localhost:3000/uploads/images/image2.png"> local variant-->
                <img src="https://veggiebowl.herokuapp.com/uploads/images/image2.png">
                <img *ngIf="recipe.images.length !== 0" src="{{ recipe.images[0] }}">
              </figure>
            </div>
          </a>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <!-- <img src="http://localhost:3000/uploads/images/image.png"> local variant -->
                  <img src="https://veggiebowl.herokuapp.com/uploads/images/image.png">
                </figure>
              </div>
              <div class="media-content">
                <a [routerLink]="['/recipes', recipe._id]" class="recipe-link">
                  <p class="title is-4">{{ recipe.name}}</p>
                </a>
                <p class="subtitle is-6">@anonymous</p>
              </div>
            </div>

            <div class="text-content">
              <div class="description-wrapper">
                {{ (recipe.description.length > 115) ? (recipe.description | slice:0:115) + " ..." :
                (recipe.description) }}
              </div>
              <a [routerLink]="['/recipes', recipe._id]" class="recipe-link">Full
                recipe</a>
              <div class="tags-wrapper" *ngIf="recipe.tags.length > 0">
                <div class="field is-grouped is-grouped-multiline" *ngFor="let tag of recipe.tags">
                  <div class="control">
                    <div class="tags">
                      <a><span class="tag is-dark">{{ tag.text }}</span></a>
                    </div>
                  </div>
                </div>
                <br>
                <time datetime="2016-1-1">11:09 PM - 1 Ja 2016</time>
              </div>
              <button class="delete-btn" (click)="deleteRecipe(recipe._id)">
                <i class="material-icons delete-btn">delete</i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>