@import '../../../styles';

$card-background-color: black;


.recipes-wrapper {
}

.recipe-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    justify-content: flex-start;
    align-content: stretch;

    .recipes-content {
        flex-basis: 30%;
    }

    .card {
        position: relative;
        height: 600px;
        background-color: $primary-light;
        border: 1px solid rgba($primary-lighter, .2);
        transition: .2s all ease;

        .type-tag-link {
            position: absolute;
            top: 8px;
            right: 8px;
            text-align: right;
            z-index: 1;
            border-radius: 3px;
            backdrop-filter: blur(6px);
            color: $white;
            background-color: rgba($primary, .3);
            text-shadow: 0px 1px 2px rgba(black, .8);
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 1.1px;
            padding: 5px;
            transition: .2s all ease;

            &:hover {
                transform: scale(1.2);
                transform: translateX(-5px);
            }
        }

        &:hover {
            border: 1px solid rgba($brighter-blue, .4);
        }

        .card-content {
        }
    }

}

.description-wrapper {
    flex-grow: 1;
    height: 80px;
    text-overflow: ellipsis;
}

.tags-wrapper {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    gap: 5px;

    .tag {
        transition: .1s linear;
        border: 1px solid gray;
        &:hover {
            transform: translateY(-2px);
        }
    }
}
