@import '../../../../styles.scss';

.container {
    max-width: 1024px;
}
.recipe-wrapper {

}

.intro-content {
  max-width: 900px;
  margin: 0 auto;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 400px;
    width: 100%;
    gap: 25px;
    margin: 25px auto 0 auto;

    .image-container {
        display: flex;
        flex-basis: 28%;
        border: 2px solid $brighter-blue;
        border-radius: 4px;
        transition: .2s all ease-in-out;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
        }
    }
}


.instructions-wrapper {
  margin-top: 25px;

  .instructions-heading {

  }

    .label-wrapper {
        display: flex;
        flex: 1;
        flex-basis: 100%;
        flex-direction: column;
        background-color: $primary-light;

        padding: 10px 15px;
        margin: 10px 0;

        .label {
            color: $white;
            font-weight: bold;
            font-size: 16px;
        }
    }
}

.instructions-list {
    max-width: 100%;
    display: block;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .instruction {
    position: relative;
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    background: $primary;
    margin-bottom: 20px;
    transition: .2s all ease-in-out;

    &:hover {
      .delete {
        visibility: visible;
        opacity: 1;
        transition-delay: .5s;
        transform: scale(1);
      }
    }

    .index-box {
      width: fit-content;
      height: fit-content;
      border-radius: 5px;
      color: $white;
      margin-right: 10px;
      background-color: $primary-light;
      padding: 5px;
      font-size: 11px;
    }

    .delete {
      position: absolute;
      top: center;
      right: 45px;
      opacity: 0;
      visibility: hidden;
      transition: .2s all ease-in;
      transform: scale(.7);

    }
  }
  
  .instruction-field {
    display: flex;
    color: $white;
    background: none;
    border: none;
    font-size: 16px;
    font-weight: bold;

    &:focus, &:active, &:focus-within {
      outline: none;
      background: none;
    }
  }

    // check icon
  .completed-check {
    display: flex;
    margin-right: 8px;
    font-size: 27px;
    opacity: .2;
    transition: all .2s ease-in-out;
    cursor: default;
    &:hover {
      cursor: pointer;
    }
  }
  
  .instructions-box:last-child {
    border: none;
  }
  
  .instructions-list.cdk-drop-list-dragging .instruction:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .handle, .handle-right {
    cursor: move;
  }
  .handle-right {
    position: absolute;
    top: center;
    right: 10px;
    color: $white;
    width: 24px;
    height: 24px;
  }

  .completed:not(span.completed-check) {
    opacity: .6;
  }
  .completed {
    .completed-check {
      opacity: 1;
      i {
        color: rgb(0, 197, 0);
      }
    }
  }