.app-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.app-wrapper-inner {
    flex: 1;
    min-width: 900px;
    max-width: 1224px;

    margin: 0 auto;
    padding: 35px;
}

.content-section {
    flex-grow: 1;
    min-height: 0;
}

footer {
    display: flex;


}