<form #form="ngForm" ngNativeValidate (ngSubmit)="onFormSubmit(form)">
    <div class="form-field">
        <label for="name" class="form-label">Name</label>
        <input class="textbox" ngModel #textField="ngModel" name="name" type="text" placeholder="Enter recipe name..." minlength="3">
    </div>

    <div class="form-field">
        <label for="description" class="form-label">URL</label>
        <input class="textbox" ngModel #textField="ngModel" name="description" type="text"
            placeholder="Description">
    </div>

    <div class="btns-container">
        <a routerLink="../" class="btn">Cancel</a>
        <button class="btn align-end">Create</button>
    </div>
</form>
