<div class="add-recipe-wrapper">

  <h2 class="add-recipe-heading title is-2">Add your own recipe</h2>
  <h4 class="add-recipe-subheading subtitle is-4">Upload your own recipe and share it with the rest of the world. Don't keep
    that tasty dish to yourself :)</h4>
  <p>You don't need to create an account in order to add a recipe, but if you do you'll be able to receive messages from other users, edit your recipe and a bunch of other cool stuff.</p>
  <form (keydown.enter)="$event.preventDefault()" #form="ngForm" ngNativeValidate (ngSubmit)="onFormSubmit(form)" class="add-recipe-form">

    <div class="field">
      <label class="label">Recipe name</label>
      <div class="control">
        <input required class="input" type="text" placeholder="Enter a name for the recipe" name="name" ngModel>
      </div>
    </div>

    <div class="field">
      <label class="label">Description</label>
      <div class="control">
        <textarea class="textarea" placeholder="Add a description! Between 30-60 words (250-500 characters) recommended." name="description"
          ngModel></textarea>
      </div>
    </div>

    <div class="field">
      <label class="label">Instructions</label>
      <div class="control">
        <!--<textarea class="textarea" placeholder="Instructions" name="instructions" ngModel></textarea>-->
        <app-instruction></app-instruction>
        <input class="input" type="hidden" name="instructions" ngModel="instructions" #instructions>
      </div>
    </div>

    <div class="field">
      <label class="label">Type</label>
      <div class="control">
        <div class="select">
          <select required name="type" ngModel>
            <option value="" disabled selected>Select...</option>
            <option *ngFor="let recipeType of options">{{ recipeType.name }}</option>
          </select>
        </div>
      </div>
    </div>

    <app-image-upload></app-image-upload>
    <input class="input" type="hidden" name="images" ngModel="images" #images>

    <app-tag></app-tag>
    <input class="input" type="hidden" name="tags" ngModel="tags" #tags>

    <div class="field submit-btn-wrapper is-grouped">
      <div class="control">
        <button class="button is-link">Preview</button>
      </div>
      <div class="control">
        <button class="button is-link">Save to draft</button>
      </div>
      <div class="control">
        <button class="button is-link">Submit</button>
      </div>
    </div>
  </form>

</div>