@import '../../styles.scss';


.navbar {
    background-color: rgba($primary-light, 1);
    border-bottom: 2px solid $primary;

    .navbar-item, .navbar-link {
        transition: .2s all linear;
        color: $white;
    }
    
    .navbar-item,
    .navbar-item a,
    .has-dropdown:hover .navbar-link {
        background: none;
        &:hover {
            color: $primary-lighter;
        }
    }
    // FUUUUUUCK css
    .navbar-start > .navbar-item:hover, .is-active, .navbar-dropdown > .navbar-item:hover {
        color: $primary-lighter;
        background-color: $white !important;
    }

    .navbar-brand {

        i{
            transition: .2s all ease-in-out;
        }
        &:hover i {
            transform: scale(1.3);
            color: $primary-lighter;
        }
        
    }
}

.navbar-dropdown {
    min-width: 250px;
    border: 0;
    background-color: rgba($primary-light, .8);
    backdrop-filter: blur(5px);
}


.navbar-add-button {
    padding-right: 6px;
}
.navbar-icon {
    margin-right: 10px;
    margin-left: 10px;
}

