.welcome-heading {
    font-size: 90px;
    letter-spacing: 10x;
}

.welcome-heading-smaller {
    font-size: 70px;
}

.welcome-text {
    display: block;
    max-width: 70%;
    margin: 20px 0;
    font-size: 20px;

}

.separator {
    height: 2px;
    width: 100%;
    background-color: rgba(white, .05);
    border-radius: 2px;

    margin: 40px 0;
}