<h1 class="welcome-heading">VeggieBowl</h1>

<h2 class="welcome-heading-smaller">The best place on the web to get your tastiest vegan recipes.</h2>

<div class="separator"></div>

<p class="welcome-text">
    Here you'll find a whole bunch of awesome recipes. Browse recipes and even search by ingredients to see what dish you can make using what you have at home.
</p>


<p>
    <span class="is-bold">
        Not sure what to cook tonight?
    </span>
    Check out the <a href="#" class="welcome-link">recipes section</a> to get some inspiration.
</p>

<p>
    <span class="is-bold">
        Made a tasty dish and wanna share? 
    </span>
    <a href="#">Add your own</a> recipe and let other people enjoy those sweet-ass planties.
</p>