@import '../../../../../styles.scss';

.upload-wrapper {
    margin-bottom: 25px;
}

label {
    color: $brighter-blue !important;
}

.img-preview-container {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 100%;
    gap: 25px;
    margin-top: 25px;

    .img-preview {
        display: flex;
        flex-basis: 28%;
        border: 2px solid $brighter-blue;
        border-radius: 4px;
        transition: .2s all ease-in-out;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
        }
    }
}

.label-wrapper {
    cursor: pointer;
    &:hover {
        background-color: $primary-light;
    }
}

.file {
    width: fit-content;
}

.file-cta {
    background-color: $primary;
    color: $white;
    transition: .2s all ease-in-out;
    border: 2px solid $primary-light !important;
    border-radius: 4px;

    .file-icon {
        transition: .2s all ease-in-out;
    }
    &:hover {
        border-radius: 4px !important;
        .file-icon {
            transform: translateY(-3px);
        }
    }
}