<label class="label">Upload an image</label>
<div class="file has-name is-boxed">
    <label class="file-label">
        <input 
            #imageInput
            ngModel
            class="field file-input"
            type="file"
            name="image"
            accept="image/*"
            change="processFile(imageInput)">
        <span class="file-cta">
            <span class="file-icon">
                <i class="material-icons">upload</i>
            </span>
            <span class="file-label">
                Choose an image...
            </span>
        </span>
        <span class="file-name">
            filename.png
        </span>
    </label>
</div>