<div class="contribute-wrapper">

    <h2 class="title contribute-heading is-2">Contribute to the project</h2>

    <p>VeggieBowl has always been and always will be, open source. All code is availble on GitHub and open for everyone.<br>
        If you're a developer and would like to help build on the project, download the code and make a pull request!
    </p>

    <p>Even if you aren't tech-savvy and just have a suggestion on how to improve the site, don't hesitate to contact us or create an issue on GitHub.</p>

    <code><a href="https://github.com/seafewd/veggiebowl/" target="_blank">GitHub VeggieBowl</a></code>
</div>