
// google fonts
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Nunito:400,700');

// material icons
@import url('https://fonts.googleapis.com/css?family=Material+Icons+Outlined|Material+Icons');

$darker-green: #3E432E;
$dark-green: #616F39;
$green: #A7D129;
$bright-blue: #2E4965;
$brighter-blue: #A1ACBD;
$dark-blue: #0d1117;
$darker-blue: #010409;
$white: rgba(white, .85);


// update bulma's global variables
$family-sans-serif: 'Nunito', sans-serif;

$primary: $dark-blue;
$primary-light: #141a24;
$primary-lighter: #4d6588;

$link: #58a6ff;
$link-hover: #2a7bd8;

$title-color: rgba(white, .85);
$title-color: white;
$subtitle-color: rgba(white, .85);



// update bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// update bulma's classes
.title {
    color: $white;
}

.subtitle {
    color: $white;
}


/*** is-* and has-* classes ***/
.is-bold {
    font-weight: bold;
}

.is-smaller {
    font-size: 80%;
}

.is-bigger {
    font-size: 120%;
}

.has-margin-bottom {
    margin-bottom: 15px;
}

.is-blurred {
    backdrop-filter: blur(5px) !important;
}


.is-active {
    background: $white;
    color: $primary-light;
}

/*** END is-* and has-* CLASSES ***/

html {
    background: linear-gradient(to right bottom, $darker-blue, $dark-blue);
    overflow: hidden;
}

html, body {
    height: 100%;
}

p,
h1, h2, h3, h4, h5, h6 {
    color: $white;
    font-family: $family-sans-serif;
}

div {
    color: $white;
}

p {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 15px !important;
}

p a {
    color: $link;
}

p a:hover {
    color: $link-hover;
}

/** HEADING STYLES **/

h1 {
    font-size: 42px;
}

h2 {
    font-size: 36px;
    line-height: 1.1em;
    margin-bottom: 10px;
}

h3 {
    font-size: 28px;
    line-height: 1.2em;
}

h1.is-bold,
h2.is-bold {
    font-weight: bold;
    letter-spacing: -2px;
}

a {
    text-decoration: none;
}

.container {
    max-width: 850px;
    margin: auto;
}

.content-col-3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &>div {
        width: 30%;
    }
}


@import '../node_modules/bulma/bulma.sass';
